<!DOCTYPE html>
<html>

<head>
    <title>Simple Rock Paper Scissors</title>
</head>

<body>
    <h1>Welcome to Pierre's Simple Rock Paper Scissors</h1>
    <p>Game Mode:</p>
    <ul>
        <li><a href="/game">Player vs Computer</a></li>
        <!-- <li><a href="/game2">Player vs Player</a></li> -->
    </ul>
</body>

</html>