<!DOCTYPE html>
<html>

<head>
    <title>Simple Rock Paper Scissors</title>
</head>

<body>
    <h1>Result</h1>
    <p>
        <%= result %>
    </p>
    <a href="/">Let's go again</a>
</body>

</html>

<!-- Some of the code here was left in as it will be used for when I come back to work on it (post-submission) to make it multiplayer -->